
@font-face {
    font-family: "Gilroy-Medium";
    src: url("/src/assets/fonts/Gilroy-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("/src/assets/fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("/src/assets/fonts/Gilroy-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
